* {
  margin: 0;
  padding: 0;
}
.navbar-custom {
        background-color: #f0f0f0; 
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-custom .navbar-brand { color: #000000; }
    .navbar-custom .nav-link {
        color: #000000;
        font-weight: 500;
        text-transform: uppercase;
    }
    .navbar-custom .nav-link:hover,
    .navbar-custom .nav-link:focus {
        color: #555555;
    }

    /* --- Global Dropdown Styling --- */
    .dropdown-menu {
        padding: 0;
        border: none;
        border-radius: 0;
        margin-top: 0; 
    }
    .navbar-custom .dropdown-item {
        color: #f8f9fa;
        padding: 8px 15px;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 500;
    }
    .navbar-custom .dropdown-item:hover {
        color: #ffffff;
        background-color: #333333;
    }
    .dropdown-submenu {
        position: relative;
    }
    
  
    .dropdown-submenu .dropdown-menu {
        display: none; 
    }
    
   
    @media (min-width: 992px) {
        .dropdown-menu {
             background-color: #000000; 
        }
        .navbar-nav .dropdown:hover > .dropdown-menu {
            display: block;
        }
        .navbar-nav .dropdown-toggle::after {
            display: none; 
        }
        .navbar-nav .dropdown:hover > .nav-link {
             color: #555555;
        }

     
        .dropdown-submenu .dropdown-menu {
            position: absolute;
            top: 0;
            right: 100%; 
            left: auto;
            background-color: #000000;
            margin-top: -1px; 
        }
        
     
        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }
    }
    
    
    @media (max-width: 991.98px) {
        .navbar-collapse {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #ffffff;
            z-index: 1050;
            padding: 20px;
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
        }
        .navbar-collapse.show {
            transform: translateX(0);
        }
        .navbar-custom .btn-close {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 1051;
        }

        
        .navbar-custom .nav-link,
        .navbar-custom .dropdown-item {
            color: #333; 
            font-weight: 500;
            padding: 12px 0; 
            border-bottom: 1px solid #eee; 
        }
        .navbar-custom .dropdown-item:hover {
            background: none;
            color: #000;
        }

     
        .dropdown-menu {
            background: none;
            position: static;
        }
        .dropdown .dropdown-menu { 
            padding-left: 20px;
        }
        .dropdown-submenu .dropdown-menu { 
            position: static; 
            padding-left: 20px; 
        }
        .dropdown-submenu .dropdown-menu .dropdown-item {
            font-size: 0.85rem;
            color: #555;
            border: none; 
        }

        .dropdown > .dropdown-toggle,
        .dropdown-submenu > .dropdown-item.has-arrow {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        .dropdown > .dropdown-toggle::after,
        .dropdown-submenu > .dropdown-item.has-arrow::after {
            font-family: 'bootstrap-icons';
            content: '\f282'; 
            border: none;
            font-size: 0.8rem;
            font-weight: bold;
            transition: transform 0.3s ease;
        }
        .dropdown > .dropdown-toggle.open::after,
        .dropdown-submenu > .dropdown-item.has-arrow.open::after {
            transform: rotate(-180deg);
        }
        
        .dropdown-menu.open {
            display: block;
        }
    }
.font {
  font-size: xx-large;
}
.font1 {
  font-size: large;
  font-weight: bold;
}
.back {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.back1 {
  background-image: url(images/1.png);
}

.back2 {
  background-image: url(images/2.png);
}
.back3 {
  background-image: url(images/3.png);
}
.back4 {
  background-image: url(images/4.png);
}
.back5 {
  background-image: url(images/5.png);
}
.back6 {
  background-image: url(images/6.png);
}
.back1:hover .card1,
.back2:hover .card2,
.back3:hover .card3,
.back4:hover .card4,
.back5:hover .card5,
.back6:hover .card6 {
  visibility: hidden;
}
.logo1,
.logo2,
.logo3,
.logo4 {
  width: 35px;
  height: 35px;
  border-radius: 50%;

  transition: 1s ease;
  display: none;
}
.man1:hover .logo1,
.man2:hover .logo2,
.man3:hover .logo3,
.man4:hover .logo4 {
  transition: 1s ease;
  display: block;
}
.gray {
  filter: grayscale(100%);
  transition: 1s;
}
.gray:hover {
  filter: grayscale(0%);
  opacity: 0.3;
}
/* desktop: show all 5 */
#auto-slider .col-sm-12 {
  display: block;
}

/* mobile: show only 1 image */
@media (max-width: 768px) {
  #auto-slider .col-sm-12 {
    display: none;
  }
  #auto-slider .col-sm-12.active {
    display: block;
  }
}
.font {
  font-size: 13px;
  opacity: 0.5;
}
.logo-pos {
  width: 40px;
  height: 32px;

  top: 31%;
  left: 12%;
}

.img-con {
  overflow: hidden;
  position: relative;
}

.img-con img {
  transition: transform 0.5s ease;
}
.img-con:hover img {
  transform: scale(1.2);
}
.phone {
  width: 50px;
  height: 50px;
}
.phone1 {
  width: 33px;
  height: 33px;
}
